<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dal.cs.ca.dofood">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".VolunteerEnroll"></activity>
        <activity android:name=".CharityFeedback" />
        <activity android:name=".CharityRequestVolunteer" />
        <activity
            android:name=".VolunteerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CharityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DonorCharityActivity" />
        <activity android:name=".DonationSuccessfulActivity" />
        <activity android:name=".DonationHistoryActivity"
            android:parentActivityName=".DonorActivity"/>
        <activity android:name=".DonorProfileImageActivity" />
        <activity android:name=".DonorProfileActivity"
            android:parentActivityName=".DonorActivity"></activity>
        <activity

            android:name=".DonorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StoryActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>